*{
    margin: 0;
    padding: 0;
    font-size: 62.5%;
}



main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width:100vw;
    font-size: 20rem;
}

.section-left{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-content: center;
}

.dolar-center{
    position: absolute;
    width: 15vw;
}

.left-conteudo{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-conteudo >  h1,p, button{
    font-size: 1.5rem;
    margin: 20px 0;
}

.left-conteudo button{
    border-radius: 5px;
    width: 290px;
    height: 30px;
    border: 2px solid;
    border-color: #20C982;
    background-color: white;
    color: #20C982;
}

.section-right{
    width: 50vw;
}

.section-right img{
    width: 60vw;
}

.logo{
    width: 15vw;
    position: fixed;
    top: 10%;
}

@media only screen and (max-width:950px){
    .section-left{
        width: 85%;
    }
}

@media only screen and (max-width: 668px) {
    main{
        flex-direction: column;
        background-color: #e2e2e2;
    }

    

    .section-right img, .logo{
        display: none;
    }

    .left-conteudo{
        position: relative;
        margin: auto;
        width: 72%;
        padding: 30px 35px;
        border-radius: 10px;
        background-color: white;
        
    }

    .left-conteudo > button{
        width: 60vw;
    }

    .dolar-center{
        position: relative;
        top: 15%;
        z-index: 2;
        width: 25vw;
    }

    /* diminuir tamanho fonte valor 1 e 2 para 15 rem */
    .valor1{
        font-size: 2.2rem;
    }

    .valor2{
        font-size: 2.2rem;
    }

    

}